Day1/input.txt
Day2/input.txt
Day3/input.txt
Day4/input.txt
Day5/input.txt
Day6/input.txt
Day7/input.txt
Day8/input.txt
Day9/input.txt
Day10/input.txt
Day11/input.txt
Day12/input.txt
Day13/input.txt
Day14/input.txt
Day15/input.txt
Day16/input.txt
Day17/input.txt
Day18/input.txt

